@import url(./reset.less);

:root{
  --el-menu-bg-color: #ffffff;
  --el-menu-text-color: rgb(0, 0, 0);
  --el-menu-active-color: #f22929;
  --el-menu-active-bg-color: rgb(254, 124, 124);
  --el-menu-hover-bg-color: rgb(184, 122, 122);
  --el-menu-hover-text-color: black;
}
